@model IEnumerable<HardwareStoreBusinessLogicLibrary.DTOModels.ZoneDistributionCentersGeoJSONDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@section styles{
    <!--Page Base Stylesheet-->
    <link rel="stylesheet" type="text/css" href="~/css/Pages/ZoneDistributionCenters/ZoneDistributionCenters.css" />
    <!--Add Leaflet Geoman Drawing Library CSS-->
    <!--TODO: Add Geoman Library CSS Reference-->
}

<!--Title-->
<h1>Distribution Center</h1>

<!--Map-->
<h3 class="text-center">USC Energy Management Campus Map</h3>
<div id="map"></div>

<!--Table Item Information-->
      <!--Information Table-->
      <div class="container-fluid table-parcel-section p-3" id="table-information-section">
          <div class="m-6">
              <h2 class="text-center"><strong>Distribution Centers Table</strong></h2>
              <p class="text-center" id="SummaryTitle">This is a table displaying information about the item clicked</p>
          </div>
          <div>
              <table class="table table-bordered table-striped table-hover">
                  <thead class="thead-dark">
                      <tr>
                          <th scope="col">Field</th>
                          <th scope="col">Value</th>
                      </tr>
                  </thead>
                  <tbody id="InformationTableBody">
                      <!--Dynamically Load valvues from Javascript Here-->

                  </tbody>
              </table>
          </div>
      </div>

<!--Distribution Centers List-->
<!--TODO: Finsih Distribtuion Centers List-->
<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Dist. Center No.
                </th>
                <th>
                    Dist. Center Code
                </th>
                <th>
                    Dist. Center Address
                </th>
                <th>
                    Dist. Center Country Code
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.features)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.properties.ZoneDistributionCenterID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.properties.ZoneDistributionCenterCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.properties.ZoneDistributionCenterFullAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.properties.ZoneDistributionCenterCountryCode)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.properties.ZoneDistributionCenterID */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.properties.ZoneDistributionCenterID */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.properties.ZoneDistributionCenterID */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <!--Load Information-->
    <script>
        let getDataCenterGeoJSON =@Json.Serialize(@Model);
    </script>
    <!--Leaflet Provider Tiles-->
	<script src="http://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <!--Leaflet JS-->
    <script src="~/lib/leaflet/leaflet.min.js"></script>
    <!--Add Leaflet Geoman Library for Editing-->
    <!--TODO: Add Geoman Library JS Reference-->
    <!--Load Page JS file-->
    <script src="~/js/Pages/ZoneDistributionCenters/ZoneDistributionCentersIndex.js"></script>
}

