@model IEnumerable<HardwareStoreBusinessLogicLibrary.DTOModels.CPIIndexDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>CPI Index</h1>

<!--Bar Chart-->
<div class="ChartJS">
    <canvas id="lineChart" width="1600" height="600">
        <p>Sorry, The Chart could not load properly.</p>
    </canvas>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CPI Index ID
            </th>
            <th>
                CPI Date
            </th>
            <th>
                CPI Index Value
            </th>
            <th>
                Status
            </th>
            <th>
                CPI Edits
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CPIIndexID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCPIDateEntry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPIIndexValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveStatus)
                </td>
                <td>
                    <a asp-controller="CPI" asp-action="Edit" asp-route-id="@item.CPIIndexID">
                        <i class="fas fa-edit nav-icon"></i>
                    </a> |
                    <a asp-controller="CPI" asp-action="Details" asp-route-id="@item.CPIIndexID">
                        <i class="fas fa-info-circle nav-icon"></i>
                    </a> |
                    <a asp-controller="CPI" asp-action="Create" asp-route-id="@item.CPIIndexID">
                        <i class="fas fa-plus-square nav-icon"></i>
                    </a> |
                    <a asp-controller="CPI" asp-action="Delete" asp-route-id="@item.CPIIndexID">
                        <i class="fas fa-trash-alt nav-icon"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        let getCPIChartData =@Json.Serialize(@Model);
    </script>
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <script src="~/js/Pages/CPI/CPIIndex.js"></script>
}
